/*==========================================
#1.0 pilars-area
=============================================*/


.pillars-img {
    width: 280px;
    height: 280px;
    line-height: 240px;
    overflow: hidden;
    /*border-radius: 50%;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);*/
    text-align: center;
    margin: 0 auto;
}

a:hover .pillar-img {
    border: solid 0.000000001px #CCC;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}


.pillars-img {
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
z-index: -99px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.pillars-img:hover {
-webkit-filter: grayscale(0%);
filter: grayscale(0%);
z-index: -99px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

/*
.pilars-area .grid:nth-child(1) .pilars-text h2 {
    background: linear-gradient(to left, #AB1F2C, #c72d3c);
    background: -webkit-linear-gradient(to left, #AB1F2C, #c72d3c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pilars-area .grid:nth-child(2) .pilars-text h2 {
    background: linear-gradient(to left, #18588F, #2c7ec7);
    background: -webkit-linear-gradient(to left, #18588F, #2c7ec7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pilars-area .grid:nth-child(3) .pilars-text h2 {
    background: linear-gradient(to left, #00A5E4, #1bb3f0);
    background: -webkit-linear-gradient(to left, #00A5E4, #1bb3f0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pilars-area .grid:nth-child(4) .pilars-text h2 {
    background: linear-gradient(to left, #f34c10, #F14F14);
    background: -webkit-linear-gradient(to left, #f34c10, #F14F14);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pilars-area .grid:nth-child(5) .pilars-text h2 {
    background: linear-gradient(to left, #FF7000, #ff7710);
    background: -webkit-linear-gradient(to left, #FF7000, #ff7710);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
*/



.pilars-area .grid .pilars-text h2 {
    font-size: 30px;
}

.pillars-img img {
    transform: scale(0.5);
    transition: all .3s;
    width: 100%;
}

.pillars-img:hover img {
    transform: scale(0.6);
    transition: all .3s;
}

.pilars-area .row-grid {
    overflow: hidden;
    padding: 20px 0;
}

.pilars-area .row-grid .grid {
    float: left;
    width: 20%;
}

.pilars-area {
    padding: 80px 170px;
}

.pilars-item {
    text-align: center;
}

.pilars-text {
    margin-top: 30px;
}


@media(max-width: 1800px) {
    .pillars-img {
        width: 195px;
        height: 195px;
    }
}


@media(max-width: 1400px) {
    .pillars-img {
        width: 165px;
        height: 165px;
    }
}

@media(max-width: 1200px) {
    .pilars-area .row-grid .grid {
        float: left;
        width: 33.33%;
    }
}

@media(max-width: 991px) {
    .pilars-area .row-grid .grid {
        float: left;
        width: 50%;
    }

    .pillars-img {
        width: 205px;
        height: 205px;
    }

    .pilars-area {
        padding: 80px 40px;
    }
}

@media(max-width: 767px) {
    .pilars-area .row-grid .grid {
        float: none;
        width: 100%;
    }

    .pillars-img {
        width: 295px;
        height: 295px;
    }

    .pilars-item {
        margin-bottom: 30px;
    }
}

@media(max-width: 575px) {
    .pillars-img {
        width: 235px;
        height: 235px;
    }

    .pilars-area {
        padding: 45px 20px 20px;
    }
}
